[submodule "tools/cmake-scripts"]
	path = tools/cmake-scripts
	url = https://github.com/mpusz/cmake-scripts
[submodule "external/dataprism"]
	path = external/dataprism
	url = https://github.com/andreasxp/dataprism
[submodule "external/manual_ptr"]
	path = external/manual_ptr
	url = https://github.com/andreasxp/manual_ptr
[submodule "external/flat_hash_map"]
	path = external/flat_hash_map
	url = https://github.com/andreasxp/flat_hash_map
